
body{
    overflow-x: hidden ; /* Ngăn trang bị tràn */
    background-image: url("bgw.png");
    background-position: center;
    background-attachment: fixed; /*cố định nền để khôi bị lỗi di chuyển khi điều  chỉnh các khối khác*/
    background-repeat: no-repeat;
    background-size: cover ;
}
header img{
    display: inline-block;
    width: 90px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    top: 10px;
    float: inline-start;
}
.menu{
    display: inline-block;
    background-color: #df9959;
    top: 10px;
    padding: 6px;
    border-radius: 10px;
    color: black;
}
.menu:hover{
    transform: scale(1.05);
    filter: brightness(120%);
    transform: 0.3s;
}
.search_box{
    background-color: #ffd399;
    margin-top: 15px;
    margin-left: 65%;
    width: 260px;
    height: 35px;
    border-radius: 10px;
}
#search_box{
    background-color: #ffeace;
    outline: none;
    border: none;
    margin-top: 3px;
    margin-left: 3px;
    height: 27px;
    border-radius: 10px;
    width: 200px;
}
#search{
    background-color: #ffeace;
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 27px;
}
#search:hover{
    background-color: #df9959;
}
.r1{
    background-color: #df9959;
    width: 400px;
    height:348px;
    border-radius: 5%;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}
.r1 h1{
    padding-top: 10px;
    font-size: 30px;
}

.r2{
    background-color: #ffd399;
    width: 379px;
    height: 270px;
    border-radius: 5%;
    position: absolute;
    margin-left: 10px;
}
.r3{
    background-color: #ffeace;
    float: left;
    margin-top: 25px;
    width: 360px;
    height: 50px;
    margin-left: 10px;
    border-radius: 30px;
}
.box{
    margin-top: 7px;
    height: 30px;
    width: 310px;
    background-color: transparent;
    border: none;
    font-size: large;
    text-align: left;
    outline: none;
}
.fa-solid{
    width: 30px;
    height: auto;
}
#log-in{
    margin-top: 50px;
    margin-left: 107px;
    width: 130px;
    height: 40px;
    background-color: #ffeace;
    border: none;
    border-radius: 30px;
    font-size: large;
}
#log-in:hover{
    background-color: #df9959;
}
footer{
    text-align: center;
    margin-top: 10%;
}

.r1a{
    background-color: #df9959;
    width: 400px;
    height:700px;
    border-radius: 5%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}
.r1a h1{
    padding-top: 10px;
    font-size: 30px;
}

.r2a{
    background-color: #ffd399;
    width: 379px;
    height: 622px;
    border-radius: 5%;
    position: absolute;
    margin-left: 10px;
}

#sign-in{
    margin-top: 25px;
    margin-left: 5px;
    width: 130px;
    height: 40px;
    background-color: #ffeace;
    border: none;
    border-radius: 30px;
    font-size: large;
}
#sign-in:hover{
    background-color: #df9959;
}

.box input{
    margin-left: 30%;
    padding: 5%;
}