
body{
    background-image: url(img/bgw.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color:black;
    text-align: center;
}
footer{
    text-align: center;
}
textarea{
    border: none;
    outline: none;
    
}
input{
    border: none;
    outline: none;
    background-color: #ffeace;
    
}
main{
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1024px){
    .vb_background{
        width: 700px;
        margin: 0 auto;
        margin-top: 15px;
    }
    textarea{
        width: 650px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){

    .menu{
        padding: 7px 3px;
        white-space: nowrap;
        font-size: normal;
    }
    textarea{
        width: 550px;
    }
    .vb_background{
        width: 600px;
        text-align: center;
        margin: 0 auto;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 767px){
    
    .search_box{
        margin-top: 5%;
        width: 85%;
    }
    .search_button{
        height: 35px;
    }
    
    .fa-square-plus{
        height: 50%;
        padding-top: 23%;
    }
    #search_input{
       height: 34px; 
    }
    textarea{
        width: 450px;
    }
    .vb_background{
        width: 500px;
        text-align: center;
        margin: 0 auto;
        margin-top: 15px;
    }
    
}
















/* thanh dieu huong */
#vb_logo{
    max-width: 250px;
    width: 100%;
}
.vb_nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 1.2%;
}
.vb_menu{
    flex-shrink: 1;
    flex-basis: 150px;

    background-color: #df9959;
    width: 10%;
    margin-left: -10px;
    height: fit-content;
    margin-top: 2%;
    border-radius: 20px;
    text-align: center;
    padding: 10px 5px;
    font-size: large;
    text-decoration: none;
    color: black;

    transition-duration: 0.31s;
    transition-timing-function: ease;
    cursor: pointer;
}
.vb_menu:hover{
    filter: brightness(130%);
    transform: scale(1.2);
}
/* khung tim kiem */
#vb_search_input{
    grid-area: search_box;
    margin-left: 2%;
    border: none;
    outline: none;
    margin-top: 1.5%;
    height: 30px;
    width: 93%;
}
.vb_search_button{
    grid-area: search;
    margin-left: -10%;
    margin-top: 10%;

    border: none;
    height: 31px;
} 
.fa-square-plus{
    grid-area:  sold;
    margin-left: -5%;
    margin-top: 10%;
}
.vb_search_button, .fa-square-plus{
    text-align: center;
    color: black;
    padding: 13% 0;
    width: 90%;
    transition-duration: 0.31s;
    transition-timing-function: ease;
    cursor: pointer;
} 
#vb_search_input, .vb_search_button, .fa-square-plus{
    border-radius: 20px;
    background-color: #ffd399;
}
.vb_search_box{
    display: grid;
    grid-template-areas: "search_box search sold";
    grid-template-columns: 3fr 0.5fr 0.5fr;

    max-width: 500px;
    background-color: #df9959;
    height:45px;
    margin: 1% 2% 0 auto;
    border-radius: 20px;
}
.vb_search_button:hover, .fa-square-plus:hover{
    filter: brightness(105%);
    transform: scale(1.1);
}







.vb_background{
    background-color: #df9959;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin:15px  auto;
}
#vb_noi_dung{
    background-color: #ffd399;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
#vb_ads{
    color:#ffd399;
}
#vb_dau {
    position: fixed;
    right: 10px;
    bottom: 5px;
    padding: 10px;
    background-color: #ffd399;
    color: #d48437;
    z-index: 100;
    border-radius: 7px;
}
#vb_icon{
    width: 25px;
    height: 25px;
    size: 300%;
    padding: 2px;
    color: black;
    text-align: center;
    
}
#vb_dong{
    display: block;
    background-color: #ffeace;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    
}
.vb_lichsu > section {
    flex: 1 1 0;
    align-items: stretch;
    display: flex;
    background-color: #ffd399;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin: 3px;
}
.vb_lichsu {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}
section.vb_lichsu{
    display: flex;
    
    align-items: stretch;
    text-align: center;
}






























































































































